apiVersion: v1
kind: Service
metadata:
  name: techchallenge-service
  annotations:
    # Isso diz à AWS para criar um NLB Interno (acessível apenas via VPC Link)
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"
spec:
  type: LoadBalancer  # pode ser LoadBalancer ou NodePort
  selector:
    app: techchallenge
  ports:
    - port: 80       # porta interna do cluster
      targetPort: 5000 # porta do container
