name: CI/CD .NET 9 Docker + Kubernetes

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      
jobs:
  #---------------------------------------------
  # Job 1: Build, Teste e Publicação da Imagem Docker
  #---------------------------------------------
  build-and-push:
    name: Build, Test and Push to ECR
    runs-on: ubuntu-latest
    environment: Production

    outputs:
      image-uri: ${{ steps.build-image.outputs.image }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore dependencies
      run: dotnet restore ../../src/Tech.Challenge
      working-directory: src/Tech.Challenge

    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: src/Tech.Challenge

    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: tests/Tech.Challenge.Unit

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      working-directory: src/
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/${{ vars.ECR_REPOSITORY }}:$IMAGE_TAG -f Tech.Challenge/Dockerfile .
        docker push $ECR_REGISTRY/${{ vars.ECR_REPOSITORY }}:$IMAGE_TAG
        echo "image=$ECR_REGISTRY/${{ vars.ECR_REPOSITORY }}:$IMAGE_TAG" >> $GITHUB_OUTPUT

  #---------------------------------------------
  # Job 2: Deploy da Aplicação no Kubernetes
  #---------------------------------------------
  deploy-app:
    name: Deploy to EKS
    runs-on: ubuntu-latest
    environment: Production
    needs: [build-and-push]
    env:
      IMAGE_URI: ${{ needs.build-and-push.outputs.image-uri }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Configure Kubectl
      run: |
        aws eks update-kubeconfig --name ${{ vars.EKS_CLUSTER_NAME }} --region ${{ vars.AWS_REGION }}

    - name: Create or Update DB Secret
      env:
        # Passa os segredos do GitHub Actions para o ambiente do script
        DB_CONNECTION_STRING: ${{ secrets.DB_CONNECTION_STRING }}
      run: |
        kubectl create secret generic techchallenge-secret \
          --from-literal=ConnectionStrings__PostgreSql="$DB_CONNECTION_STRING" \
          --dry-run=client -o yaml | kubectl apply -f -

    - name: Deploy to Kubernetes
      run: |
        # Substitui o placeholder pela imagem real do ECR
        # A variável IMAGE_URI deve ser definida em um passo anterior
        # Ex: ECR_REGISTRY/ECR_REPOSITORY:IMAGE_TAG
        echo "Substituindo o placeholder pela imagem: ${{ env.IMAGE_URI }}"
        sed -i 's|DOCKER_IMAGE_PLACEHOLDER|${{ env.IMAGE_URI }}|g' k8s/deployment.yaml

        # Aplica os manifestos
        echo "Aplicando os manifestos do Kubernetes..."
        kubectl apply -f k8s/
